<%- include("_header") -%>


<div class="parent">
    <div class="child">
        <div class="baby">
            <h3 class="text-center">About this Project </h3>
            <p>This project started out as a hobby to learn NodeJS while also trying to fullfil a purpose and simplify
                Threat Modelling
                This is not supposed to replace Threat Modelling as a process/activity, but aid in the quick assessment
                of a piece of software</p>
            <br>
            <p>This is by no means complete and would also serve you to validate a lot of the mappings I've produced</p>
            <br>
            <p>The code is unlikely optimised and many of you will probably see flaws in the way this is written</p>

            <br>
            <br>
            <B>How to use</B>
            <ul>
                <li>1. Go to Threat Modelling</li>
                <li>2. Create a connection and supply the name of a component a connection passes from and selecting the
                    type of asset (these are mapped to threats)
                </li>
                <li>3. Continue to add new connections either manually or using the create From (note creates a
                    connection
                    from the destination component in the row, alternative ly edit or delete
                </li>
                <li>4. View a list of potential threats to your system</li>
                <li>5. If you would like more information about a threat, click the URL</li>

                <br>
                <B>To Do</B>
                <li>- Check theres no duplication in the threat model output, should replicate per component name</li>
                <li>- finish a run through of the mappings</li>
                <li>- add in some exclusion boxes in connections e.g. tick whether its cross boundary, internal, extenal
                    etc. to reduce false pos
                <li>-Some other bits </li>

                <li>- will add more.....</li>
            </ul>
        </div>
    </div>
</div>

<%- include("_footer") -%>